.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
